

<div class="bubble" id="canvasBubbles"></div>
<div class="container" id="wrapper">
    <div class="content">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <!--<h1>Bubble Soon <small>is coming soon..</small></h1>-->
                    <!---->
                    <h2>Rebind Ebook Converter
                    </h2>
                    <span>Powered by Calibre</span>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h2>Rebind Ebook Converter</h2>
                <p>Here, we are working hard to launch a new site that's going to revolutionize the way you do business.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sapien risus. 
                    Quisque posuere dolor a eros lacinia vitae pretium turpis iaculis. In sodales sollicitudin dolor et ullamcorper. 
                    Curabitur varius bibendum turpis, vitae rutrum ligula.
                </p>
            </div>
            <div class="span6">
                <h4 class="t-right">Leave us your email below,
                    <br />
                    and we'll notify you when our launch.</h4>
                <br />
                @using Rebind                @model Rebind.Models.ConversionOptions
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline pull-right", enctype = "multipart/form-data" }))
                {
                    <input type="hidden" id="guid" name="Guid" value="@Model.Guid"/>
 
                    <input type="file" placeholder="Select your ebook" name="EbookFile" class="input-text input-large" />
                    <select name="Extension">
                        <option value="@OutputExtension.Epub.Value()">@OutputExtension.Epub.Name()</option>
                        <option value="@OutputExtension.Html.Value()">@OutputExtension.Html.Name()</option>
                        <option value="@OutputExtension.Lit.Value()">@OutputExtension.Lit.Name()</option>
                        <option value="@OutputExtension.Mobi.Value()">@OutputExtension.Mobi.Name()</option>
                        <option value="@OutputExtension.Pdb.Value()">@OutputExtension.Pdb.Name()</option>
                        <option value="@OutputExtension.Pdf.Value()">@OutputExtension.Pdf.Name()</option>
                        <option value="@OutputExtension.Rtf.Value()">@OutputExtension.Rtf.Name()</option>
                        <option value="@OutputExtension.Txt.Value()">@OutputExtension.Txt.Name()</option>
                    </select>
                    <input type="submit" name="submit" value="Convert" class="btn btn-inverse btn-large" />
                }

            </div>
        </div>
        <div class="row-fluid footer">
            <div class="span12">&copy; 2012 Bubble Soon. All right reserved.</div>
        </div>
    </div>
</div>


@section Script
{
    <script type="text/javascript">
    $(function () {
        
        @if(Model.isStarted)
        {
            @:toastr.warning('Ebook Conversion Started. Please Wait...', null, { timeOut: 0, extendedTimeOut: 0, tapToDismiss: false });
        }
        

        var subscriptionId = '@Model.Guid';
        var convertHub = $.connection.convertHub;
        
        convertHub.logInfo = function(message, isSticky) {
            if (isSticky) {
                toastr.info(message, null, { timeOut: 0 });
            }
            else {
                toastr.info(message);
            }
            console.log(message, isSticky);
        };

        convertHub.logError = function (message, isSticky) {
            if (isSticky) {
                toastr.error(message, null, { timeOut: 0 });
            }
            else {
                toastr.error(message);
            }
            console.log(message, isSticky);
        };
        
        convertHub.logSuccess = function (message, isSticky) {
            if(isSticky) {
                toastr.success(message, null, { timeOut: 0, extendedTimeOut: 0 , tapToDismiss : false});
            }
            else {
                toastr.success(message);
            }

            console.log(message, isSticky);
        };
        

        $.connection.hub.start(function () {
            //Join the subscription.
            convertHub.join(subscriptionId);
        });
        
        
    });
</script>

}
